#privatePage-outside{
    background-color: gray;
}
#privatePage-inside{
    max-width: 950px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    margin-top: 50px;
    height: 100%;
    background: white;
    padding-bottom: 20px;
}
 @media screen and (max-width: 450px) {
    #govtpage-main-outside > .gap {
        margin-bottom: 200px;
    }
 }